.mindmap-scrollbar {
    display: block;
    position: absolute;
    width: auto;
    height: auto;
    padding: 2.5px;
    box-sizing: border-box;

    &.HORIZONTAL {
        width: 100%;
        height: 25px;        
        bottom: 0;
        left: 0;
        right: 0;

        & > .mindmap-scrollbar-bar {
            width: 100px;
            height: 20px;
        }
    }

    &.VERTICAL {
        width: 25px;
        height: 100%;
        top: 0;
        bottom: 0;
        right: 0;

        & > .mindmap-scrollbar-bar {
            width: 20px;
            height: 100px;
        }
    }
}

.mindmap-scrollbar-bar {
    position: absolute;
    display: block;
    background-color: #dfdfdf;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.2;
    transition: 0.5s opacity ease-in-out;

    &:hover {
        opacity: 1;
    }
}