.mindmap-node {
  display: flex;
  background-color: transparent;
  border: 0 none transparent;
  border-bottom: 0px none transparent;
  border-radius: 3px;
  position: absolute;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px; }
  .mindmap-node.isRoot {
    align-items: center;
    justify-content: center; }
    .mindmap-node.isRoot .mindmap-node-inner {
      word-wrap: break-word;
      display: block;
      font-size: 18px;
      line-height: 22px;
      min-width: 0;
      color: #fff;
      padding: 14px 15px; }
  .mindmap-node > div {
    display: block; }
  .mindmap-node > span.actions {
    bottom: -20px;
    display: none;
    font-size: 10px;
    left: 0;
    position: absolute;
    text-align: center;
    box-sizing: border-box;
    padding: 3px;
    background-color: lightgray;
    border-radius: 7px;
    width: auto; }
    .mindmap-node > span.actions > .action {
      background-color: #efefef;
      cursor: pointer;
      display: block;
      font-size: 12px;
      margin-right: 2px;
      padding: 0 5px;
      border-radius: 5px; }
      .mindmap-node > span.actions > .action:last-child {
        margin-right: 0; }
      .mindmap-node > span.actions > .action:hover {
        background-color: gray; }
  .mindmap-node:hover > .actions {
    display: flex; }
  .mindmap-node.onUserInteraction {
    z-index: 100;
    border-color: red; }
  .mindmap-node.onDrop > .mindmap-node-inner {
    border: 2px solid red;
    border-radius: 5px;
    border-bottom: 0 none transparent; }

.mindmap-connections {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0 !important;
  left: 0 !important; }
  .mindmap-connections path {
    stroke-width: 3px;
    stroke: red;
    fill: transparent;
    pointer-events: stroke;
    cursor: pointer; }
    .mindmap-connections path:hover {
      stroke-width: 5px; }
    .mindmap-connections path.selected {
      stroke-width: 5; }

.mindmap-scrollbar {
  display: block;
  position: absolute;
  width: auto;
  height: auto;
  padding: 2.5px;
  box-sizing: border-box; }
  .mindmap-scrollbar.HORIZONTAL {
    width: 100%;
    height: 25px;
    bottom: 0;
    left: 0;
    right: 0; }
    .mindmap-scrollbar.HORIZONTAL > .mindmap-scrollbar-bar {
      width: 100px;
      height: 20px; }
  .mindmap-scrollbar.VERTICAL {
    width: 25px;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0; }
    .mindmap-scrollbar.VERTICAL > .mindmap-scrollbar-bar {
      width: 20px;
      height: 100px; }

.mindmap-scrollbar-bar {
  position: absolute;
  display: block;
  background-color: #dfdfdf;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.2;
  transition: 0.5s opacity ease-in-out; }
  .mindmap-scrollbar-bar:hover {
    opacity: 1; }

.mindmap-navigator {
  display: block;
  border: 1px solid #efefef;
  width: 250px;
  height: 200px;
  background-color: #fff;
  position: absolute;
  bottom: 25px;
  left: 25px; }

.mindmap-navigator-selector {
  display: block;
  position: absolute;
  top: 50px;
  left: 30px;
  width: 50px;
  height: 50px;
  border: 1px solid #ededed;
  border-radius: 3px;
  cursor: move; }

.mindmap-zoom {
  display: block;
  width: 50px;
  height: 200px;
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 25px;
  right: 25px;
  z-index: 1000; }
  .mindmap-zoom:hover .mindmap-zoom-scale-selector > span {
    display: block;
    opacity: 1; }

.mindmap-zoom-scale {
  display: block;
  width: 10px;
  height: calc(100% - 20px);
  margin: auto;
  border-radius: 5px;
  position: relative;
  background-color: lightgray;
  margin-top: 10px; }

.mindmap-zoom-scale-selector {
  display: block;
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: gray;
  left: -5px;
  cursor: pointer; }
  .mindmap-zoom-scale-selector span {
    display: block;
    position: absolute;
    left: -38px;
    background-color: #fff;
    border: 1px solid lightgray;
    border-radius: 0 100px 100px 0;
    width: 35px;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    top: 1px;
    opacity: 0;
    transition: .5s opacity ease-in-out; }

.mindmap-viewport {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden; }

.mindmap-viewport-container {
  display: block;
  background-color: transparent;
  position: absolute;
  left: 200px;
  top: 300px; }

.mindmap-menu.mindmap-connection {
  display: none;
  width: auto;
  height: auto;
  border: 1px solid #afafaf;
  position: absolute;
  border-radius: 5px;
  background-color: #fff;
  padding: 2px;
  box-sizing: border-box; }
  .mindmap-menu.mindmap-connection > span {
    display: block;
    padding: 2px;
    cursor: pointer;
    background-color: #fff;
    font-size: 12px;
    min-height: 25px;
    box-sizing: border-box;
    padding-top: 4px; }
    .mindmap-menu.mindmap-connection > span > span {
      display: inline-block;
      position: relative;
      top: 1px;
      margin-left: 5px;
      font-size: 14px;
      font-weight: bold;
      line-height: 5px; }
      .mindmap-menu.mindmap-connection > span > span > span {
        height: 14px;
        padding: 0;
        position: relative;
        top: 2px; }
    .mindmap-menu.mindmap-connection > span:hover {
      background-color: #efefef; }
  .mindmap-menu.mindmap-connection.visible {
    display: block; }

.mindmap-colorpicker {
  position: absolute;
  display: block;
  width: auto;
  height: auto;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px; }

.mindmap-colorpicker-colors {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .mindmap-colorpicker-colors span {
    display: block;
    width: 35px;
    height: 35px;
    border: 1px solid gray;
    border-radius: 3px;
    margin-right: 3px;
    cursor: pointer;
    opacity: 0.8; }
    .mindmap-colorpicker-colors span:last-child {
      margin-right: 0; }
    .mindmap-colorpicker-colors span:hover {
      opacity: 1; }

.mindmap {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently */
  display: block;
  position: relative;
  overflow: hidden;
  /*top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;*/
  width: 100%;
  height: 100%;
  border: 1px solid #dfdfdf; }

.mindmap-loader {
  display: block;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.4);
  background-image: url(../assets/images/loader.gif);
  background-repeat: no-repeat;
  background-position: center center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1001; }

.mindmap-icon {
  display: block;
  width: 16px;
  height: 20px;
  padding: 2px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 12px 12px; }

.mindmap-add {
  background-image: url(../assets/icons/16-plus.svg); }

.mindmap-change-color {
  background-image: url(../assets/icons/16-change-color.svg); }

.mindmap-remove {
  background-image: url(../assets/icons/16-remove.svg); }
