@import "../components/nodes/index.scss";
@import "../components/connections/index.scss";
@import "../components/scrollbar/index.scss";
@import "../components/navigator/index.scss";
@import "../components/zoom/index.scss";
@import "../components/viewport/index.scss";
@import "../components/menus/connection.scss";
@import "../components/colorpicker/index.scss";

.mindmap {    
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */

    display: block;
    position: relative;
    overflow: hidden;
    /*top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;*/
    width: 100%;
    height: 100%;
    border: 1px solid #dfdfdf;
}

.mindmap-loader {
        display: block;
        position: fixed;
        background-color: rgba(255, 255, 255, 0.4);
        background-image: url(../assets/images/loader.gif);
        background-repeat: no-repeat;
        background-position: center center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1001;
}

.mindmap-icon {
    display: block;
    width: 16px;
    height: 20px;
    padding: 2px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 12px 12px;
}

.mindmap-add {
    background-image: url(../assets/icons/16-plus.svg);
}

.mindmap-change-color {
    background-image: url(../assets/icons/16-change-color.svg);
}

.mindmap-remove {
    background-image: url(../assets/icons/16-remove.svg);
}