.mindmap-zoom {
    display: block;
    width: 50px;
    height: 200px;
    background-color: transparent;
    border: none;
    position: absolute;
    bottom: 25px;
    right: 25px;
    z-index: 1000;
   
    &:hover .mindmap-zoom-scale-selector > span {
        display: block;
        opacity: 1;
    }
}

.mindmap-zoom-scale {
    display: block;
    width: 10px;
    height: calc(100% - 20px);
    margin: auto;
    border-radius: 5px;
    position: relative;
    background-color: lightgray;
    margin-top: 10px;
}

.mindmap-zoom-scale-selector {
    display: block;
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: gray;
    left: -5px;
    cursor: pointer;
            
    & span {
        display: block;
        position: absolute;
        left: -38px;
        background-color: #fff;
        border: 1px solid lightgray;
        border-radius: 0 100px 100px 0;
        width: 35px;
        box-sizing: border-box;
        padding-left: 5px;
        padding-right: 5px;
        top: 1px;
        opacity: 0;
        transition: .5s opacity ease-in-out;
    }
}