.mindmap-connections {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0 !important;
    left: 0 !important;

    & path {
        stroke-width: 3px;
        stroke: red;
        fill: transparent;
        pointer-events: stroke;
        cursor: pointer;

        &:hover {
            stroke-width: 5px;
        }

        &.selected {
            stroke-width: 5;
        }
    }
}