.mindmap-menu.mindmap-connection {
    display: none;
    width: auto;
    height: auto;
    border: 1px solid #afafaf;
    position: absolute;
    border-radius: 5px;
    background-color: #fff;
    padding: 2px;
    box-sizing: border-box;

    & > span {
        display: block;
        padding: 2px;
        cursor: pointer;
        background-color: #fff;
        font-size: 12px;
        min-height: 25px;
        box-sizing: border-box;
        padding-top: 4px;

        & > span {
            display: inline-block;
            position: relative;
            top: 1px;
            margin-left: 5px;
            font-size: 14px;
            font-weight: bold;
            line-height: 5px;

            & > span {
                height: 14px;
                padding: 0;
                position: relative;
                top: 2px;
            }
        }

        &:hover {
            background-color: #efefef;
        }
    }

    &.visible {
        display: block;
    }
}