.mindmap-viewport {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.mindmap-viewport-container {
    display: block;
    background-color: transparent;
    position: absolute;
    left: 200px;
    top: 300px;
}
