.mindmap-colorpicker {
    position: absolute;
    display: block;
    width: auto;
    height: auto;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
}

.mindmap-colorpicker-colors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    & span {
        display: block;
        width: 35px;
        height: 35px;
        border: 1px solid gray;
        border-radius: 3px;
        margin-right: 3px;
        cursor: pointer;
        opacity: 0.8;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            opacity: 1;
        }
    }
}