.mindmap-navigator {
    display: block;
    border: 1px solid #efefef;
    width: 250px;
    height: 200px;
    background-color: #fff;
    position: absolute;
    bottom: 25px;
    left: 25px;
}

.mindmap-navigator-selector {
    display: block;
    position: absolute;
    top: 50px;
    left: 30px;
    width: 50px;
    height: 50px;
    border: 1px solid #ededed;
    border-radius: 3px;
    cursor: move;
}