.mindmap-node {
    display: flex;
    background-color: transparent;
    border: 0 none transparent;
    border-bottom: 0px none transparent;
    border-radius: 3px;
    position: absolute;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;

    &.isRoot {
        align-items: center;
        justify-content: center;

        & .mindmap-node-inner {
            word-wrap: break-word;
            display: block;
            font-size: 18px;
            line-height: 22px;
            min-width: 0;
            color: #fff;
            padding: 14px 15px;
        }
    }

    & > div {
        display: block;
    }

    & > span.actions {
        bottom: -20px;
        display: none;
        font-size: 10px;
        left: 0;
        position: absolute;
        text-align: center;
        box-sizing: border-box;
        padding: 3px;
        background-color: lightgray;
        border-radius: 7px;
        width: auto;

        & > .action {
            background-color: #efefef;
            cursor: pointer;
            display: block;
            font-size: 12px;
            margin-right: 2px;
            padding: 0 5px;
            border-radius: 5px;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                background-color: gray;
            }
        }
    }

    &:hover {
        & > .actions {
            display: flex;
        }
    }

    &.onUserInteraction {
        z-index: 100;
        border-color: red;
    }

    &.onDrop > .mindmap-node-inner {
        border: 2px solid red;
        border-radius: 5px;
        border-bottom: 0 none transparent;
    }
}